@did:registry=http://localhost:2092
did:registry=http://localhost:2092
# @dpk:registry=http://localhost:2092
# dpk:registry=http://localhost:2092
# @drg:registry=http://localhost:2092
# drg:registry=http://localhost:2092
# @drpm:registry=http://localhost:2092
# drpm:registry=http://localhost:2092
loglevel=silly