{
    "current": null,
    "dht": {
        "did": "",
        "dwnEndpoints": [],
        "web5DataPath": "",
        "password": "",
        "recoveryPhrase": ""
    },
    "web": {
        "did": "",
        "dwnEndpoints": [],
        "web5DataPath": "",
        "password": "",
        "recoveryPhrase": ""
    },
    "btc": {
        "did": "",
        "dwnEndpoints": [],
        "web5DataPath": "",
        "password": "",
        "recoveryPhrase": ""
    }
}